  @keyframes startGame {
    20% {
      transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
      opacity: 1;
      transform: translate3d(0, 20px, 0);
    }

    to {
      opacity: 0;
      transform: translate3d(0, -2000px, 0);
    }
  }

body {
    background: #101327 url('/assets/background/game_background.png') no-repeat fixed;
    background-size: cover;
    color: #ffffff;
}

.modal-registration {
    height: 100%;
    background: #101327 url('/assets/background/game_background.png') no-repeat;
    background-size: cover;
    color: #f70808;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.modal-score {
  height: 100%;
  background: #101327 url('/assets/background/game_background.png') no-repeat;
  background-size: cover;
  color: #f70808;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.show {
    display: block;
  }

  .hide-modal {
    animation-name: startGame;
  }

  .modal {
    color: black;
  }

  .mixed-list {
    padding: 0;
    text-align: center;
    list-style: none;
    user-select: none;
  }
.mixed-list li {
  display: inline;
  padding: 0 5px; 
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  background: #f70808;
  color: #ffffff;
  margin: 0 5px;
}

.konvajs-content {
  margin: 0 auto;
}

.header-logo {
  margin-top: 10%;
}

.header-logo h1 {
  font-family: 'Marck Script', cursive;
  font-size: 5rem;
}

.registration {
  margin: 3% 0;
}

label {
  font-family: 'Lily Script One', cursive;
  font-size: 2rem;
}

.game-info {
  margin-top: 20px;
}

.game-canvas {
  margin-top: 10%;
}

.spels-group {
  display: flex;
  justify-content: space-evenly;
}

.task-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  padding: 10px;
  background: #f70808;
  color: #ffffff;
  border-radius: 10px;
}

.heal button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-radius: 20px !important;
}

.heal button:hover {
  border-radius: 5px;
  background-color: #08f730;
  color: #ffffff;
}

.heal img {
  width: 65px;
  height: 65px;
  margin: 0 auto 10px;
}

.damage button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  border-radius: 20px !important;
}

.damage button:hover {
  border-radius: 5px;
  background-color: #f70808;
  color: #ffffff;
}

.damage button:focus {
  background-color: #f70808 !important;
  color: #ffffff !important;
}

.heal button:focus {
  background-color: #279138 !important;
  color: #ffffff !important;
}

.damage img {
  width: 65px;
  height: 65px;
  margin: 0 auto 10px;
}

.button-start-game {
  background: #f70808;
  color: #ffffff;
  border: 1px solid #f70808 !important;
  font-family: 'Lily Script One', cursive;
  font-size: 1rem;
}

.button-start-game:hover {
  background: #ffffff;
  color: #f70808;
}

.button-start-game:focus{
  background: #ffffff !important;
  color: #f70808 !important;
}

.modal-answer-button {
  background: #f70808;
  color: #ffffff;
  border: 1px solid #f70808 !important;
  font-family: 'Lily Script One', cursive;
  font-size: 1rem;
}

.modal-answer-button:hover {
  background: #ffffff;
  color: #f70808;
}

.modal-answer-button:focus{
  background: #ffffff !important;
  color: #f70808 !important;
}

.colorRed {
  color: #f70808 !important;
}

.progress-bar {
  background: #05c725 !important;
}

.nickNameMargin{
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-score h2 {
  padding-top: 40px;
  margin-bottom: 25px;
  font-size: 3rem;
  text-align: center;
  color: #f70808;
  font-family: 'Lily Script One', cursive;
}

.button-return-score {
  background: #f70808;
  color: #ffffff;
  font-family: 'Lily Script One', cursive;
  border: 1px solid #f70808;
}

.button-return-score:hover {
  text-decoration: none;
  background: #ffffff;
  color: #f70808;
}

.button-return-score:focus {
  background-color: #ffffff !important;
  color: #f70808 !important;
}

.score-return-landing{
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #f70808;
  border-radius: 5px;
  background: #f70808;
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Lily Script One', cursive;
}

.score-return-landing:hover {
  text-decoration: none;
  background: #ffffff;
  color: #f70808;
}

nav {
  font-family: 'Lily Script One', cursive;
}

.landing-nav-logo {
  font-family: 'Marck Script', cursive;
  font-size: 1.5rem;
}

.landing-section {
  height: 100vh;
  text-align: center;
}

.landing-section h1 {
  padding-top: 300px;
  margin-bottom: 25px;
  font-size: 6rem;
  text-align: center;
  color: #f70808;
  font-family: 'Marck Script', cursive;
}

.landing-start-a {
  padding: 15px;
  border: 1px solid #f70808;
  border-radius: 5px;
  background: #f70808;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Lily Script One', cursive;
}

.landing-start-a:hover {
  text-decoration: none;
  background: #ffffff;
  color: #f70808;
}

.landing-section-slider {
  height: 100vh;
  text-align: center;
}

section h2 {
  padding-top: 80px;
  margin-bottom: 25px;
  font-size: 5rem;
  text-align: center;
  color: #f70808;
  font-family: 'Lily Script One', cursive;
}

.landing-section-author {
  height: 100vh;
  text-align: center;
}

.swiper-container {
  width: 800px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #dfe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-v {
  background: #eee;
}

.swiper-slide img {
  width: 800px;
  height: 500px;
}

.landing-section-author img {
  height: 50vh;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.landing-section-author h3 {
  margin-top: 25px;
  font-size: 3rem;
  text-align: center;
  color: #f70808;
  font-family: 'Marck Script', cursive;
}